.App {
    background-color: #F2F2F2;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

.versao {
    position: fixed;
    width: 100%;
    bottom: 0px;
}
.versao p {
    text-align: center;
    margin: 5px;
    color: rgb(0, 0, 0, 0.3);
}