.App {
    background-color: #F2F2F2;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

.conteudo-app {
    height: 94%;
}
.versao-app {
    height: 6%;
}

.versao {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.versao p {
    color: rgb(0, 0, 0, 0.3);
}