/* INICIO - estilos da barra de rolagem */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.15);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0, 0.2);
}
/* FIM - estilos da barra de rolagem */

.tela {
    background-color: rgba(128, 128, 128, 0.4);
    height: 20%;
    margin: 10px;
    display: flex;
    align-items: center;
}

.tela .numeros {
    /* border: 1px solid black; */
    height: 75%;
    width: 100%;
    text-align: right;

}
.numeros {
    font-size: 45px;
}

.expressao, .resultado {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0px 10px;
}
.expressao {
    /* border: 1px solid red; */
    height: 60%;
    font-size: 100%;
    color:rgba(0, 0, 0, 1)
}
.resultado {
    /* border: 1px solid green; */
    height: 40%;
    font-size: 65%;
    color:rgba(0, 0, 0, 0.5)
}

.tela p {
    /* border: 1px solid orange; */
    margin: 0px;
    white-space: nowrap;
    overflow: auto;

    display: flex;
    flex-direction: row-reverse;
}

/* Estilos para quando a tela estiver na horizontal */
@media (orientation: landscape) {
    .tela {
        height: 40%;
    }
}