.tela {
    display: flex;
    background-color: rgb(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 50px;
    height: 10vh;
    align-items: center;
}

.tela .numeros {
    width: 100%;
    text-align: right;
    height: max-content;
    font-size: 35px;
}

.expressao {
    font-size: 1em;
    color: rgb(0, 0, 0);
    height: 40px;
}
.resultado {
    font-size: .7em;
    color: rgb(0, 0, 0, 0.5);
    height: 40px;
}

.tela p {
    margin: 0px;
}