/* TECLADO */
.teclado {
    /* border: 1px solid green; */

    height: 60vh;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
}

/* LINHA */
.teclado .teclado-linha {
    /* border: 1px solid blue; */

    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* COLUNA */
.teclado .teclado-linha .teclado-coluna {
    /* border: 1px solid red; */

    width: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TECLA */
.tecla {
    height: 100%;
    width: 100%;
    font-size: 35px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;

    box-shadow: 0px 4px 0px #e0e0e0;
    margin-bottom: 4px;
    outline: none;
}
.tecla:active {
    box-shadow: 0px 0px 0px #e0e0e0;
    margin-bottom: 0px;
}

.tecla.vermelho {
    background-color: #DC3545;
    border: 1px solid #bb2433;
    box-shadow: 0px 4px 0px #83121d;
    color: white;
}
.tecla.vermelho:active {
    box-shadow: 0px 0px 0px #83121d;
}
.tecla.vermelho:disabled {
    opacity: 0.5;
}

@media only screen and (max-width: 372px) {
    /* LINHA */
    .teclado .teclado-linha {
        height: 8vh;
    }

    /* COLUNA */
    .teclado .teclado-linha .teclado-coluna {
        width: 8vh;
    }
}